.header{
    display: flex;
    justify-content: space-between;
    
    
}
.header-left{
    display: flex;
    flex-direction: column;
    margin: 0px 90px;
    justify-content: center;
    text-align: justify;
    gap: 10px;
}
.header-left h1{
    font-weight:lighter;
    letter-spacing: 1px;
    font-size: 40px;

}
.header-left img{
    width: 40px;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes rotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(80deg);
    }
}
.header-left p{
    font-weight: 400;
    width: 400px;
    letter-spacing: 1px;
}
.header-left button{
    width: 130px;
    border-radius: 10px;
    background-color: rgb(11, 84, 156);
    color: white;
    border: none;
    padding: 8px;
}
.header-left button:hover{
    background-color:dodgerblue;
}

.header-right img{
    width: 800px;
    cursor: pointer;
    transition: 1s;

}
.header-right img:hover{
    transform: translateX(20px);
}

.boxes-header{
    display: flex;
    margin: 0px 90px;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-x: scroll;
}

.boxes-header img{
    width: 200px;
    border-radius: 20px;
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
}

.boxes-header img:hover{
    transform: translateY(-10px);
    opacity: 1;
    box-shadow: 0px 17px 10px lightgray;
}

@media screen and (max-width:1231px) {
    .header{
        flex-direction: column-reverse;
        justify-content: left;
        

        
    }
    .header-right img{
        width: 90%;
    }
    .header-left{
        margin: 10px;
    }
    .boxes-header{
        margin: 0px;
    }
    .header-left p{
        width: 100%;
    }
}