.ps5-pa{
    background-color: whitesmoke;
}
.ps5-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-bottom: 10px;
   gap: 30px;
   margin: 0px 30px;
}
.ps5-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.ps5-heading h1{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ps5-heading h6{
    color: gray;
}
.ps5-heading p{
    font-size: 10px;
}

.ps5-ad-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 20px;
    align-items: center;

}

.ps5-ad-parent div video{
    width: 100%;
    height: 450px;
}

.ps5-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.ps5-details div{
    display: flex;
    flex-direction: column;
 text-align: justify;
   
}

.ps5-details div h2{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
    color: dodgerblue;
}

.ps5-details div p{
    font-weight: 300;
    width: 85%;
}

.ps5-details div img{
    width: 90px;
    margin-left: 30px;
}


@media screen and (max-width:980px) {
    .ps5-ad-parent{
        flex-direction: column;
    
    }
    .ps5-parent{
        margin: 0px 30px;
    }
    .ps5-ad-parent div video{
        width: 100%;
        height: auto;
    }
    .ps5-details{
        margin-left: 0px;
    }
    .ps5-details div p{
        font-weight: 300;
        width: 100%;
        font-size: 12px;
    }
    .ps5-details div img{
        margin: 0px;
    }
    
}

@media screen and (max-width:495px) {
    .ps5-heading h1{
        font-size: 25px;
    }
    .ps5-parent{
        margin: 10px;
    }
    .ps5-heading{
        margin-top: 20px;
    }
    .ps5-ad-parent{
        margin-top: 20px;
    }
}

@media screen and (max-width:435px) {
   
    .ps5-heading h1{
        font-size: 23px;
    }
    .ps5-heading h6{
        font-size: 15px;
    }
}