
.plus-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 60px;
}

.heading-plus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-plus img{
    width: 200px;
}

.plus-ad-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

